@import "tailwindcss";

@media print {
  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    display: block !important;
    width: 100%;
  }
}
